@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
}

@font-face {
    font-family: Oswald;
    src: url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
}

body {
    background-color: #F758A6;
    color: #2B2A2C;
    font-family: 'Roboto', sans-serif;
}

.content-wrapper {
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    min-height: 700px;
    max-width: 800px;
}

@media (max-width: 450px) {

    .content-wrapper {
        padding: 15px;
    }

}

h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 600px) {

    h1 {
        font-size: 40px;
    }

}

.pink {
    color: #EF0A8B;
}

.blue {
    color: #36A9E8;
}

.yellow {
    color: #F8C514;
}

.green {
    color: #32A353;
}

h2 {
    color: #508EFF;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
}

p {
    font-size: 18px;
    text-align: center;
}

label, input {
    display: block;
}

label {
    margin: 15px 0 5px 0;
}

select {
    border: 1px solid #ddd;
}

.privacy-check input, .privacy-check label {
    display: inline-block;
}

input[type="submit"], button {
    background-color: white;
    border: 2px solid #E22B89;
    color: #E22B89;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
}

input[type="submit"]:hover, button:hover {
    background-color: #EF0A8B;
    color: white;
}

input[type="submit"] {
    margin-top: 15px;
}

#age-message {
    border: 3px solid #36A9E8;
    display: none;
    max-width: 500px;
    padding: 10px;
    text-align: center;
}
